body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

ul li {
    list-style: square;
}
.header-links {
    display: flex;
    gap: 15px;
}

.header-links h4 {
    margin: 0; 
}
